---
import Layout from '../../layouts/Layout.astro'

const allArticles = await Astro.glob('./*.md')
---

<Layout title='Articles'>
  <div class='page-container mt-10'>
    {
      allArticles.map((article) => (
        <li>
          <a href={article.url}>{article.frontmatter.title}</a>
        </li>
      ))
    }
  </div>
</Layout>
