---
//Components
import { Image } from '@astrojs/image/components'

// Props
export interface Props {
  height_class: string
  description: string
  alt: string
  src: string
}

const { height_class, description, alt, src } = Astro.props
---

<!-- widht and height below set resolution of the rendered images -->
<div
  class={`${height_class} bg-gray-300 rounded-lg relative group transition-transform duration-300`}
>
  <Image
    class='object-cover rounded-lg w-full h-full'
    width={900}
    height={680}
    src={src}
    alt={alt}
    format='avif'
  />
  <h1
    class='absolute bottom-0 w-full text-base text-gray-200 pb-2 pt-8 px-3 bg-gradient-to-t from-gray-900 from-40% rounded-b-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300'
  >
    {description}
  </h1>
</div>
