---
// Props
export interface Props {
  type: string
  contact: string
  href: string
}

const { type, contact, href } = Astro.props
---

<div class='rounded-full hover:bg-gray-300/60 transition-colors duration-200'>
  <a
    target='_blank'
    class='text-base flex justify-start items-center gap-3 text-gray-600 px-5 py-3 rounded-full'
    href={href}
  >
    <img width='32px' height='32px' src={`/icons/booking/${type}.svg`} alt='' />
    {contact}
  </a>
</div>
