---
import { CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog', ({ data }) => {
    return !data.draft && data.date < new Date()
  })

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }))
}

interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<div class='w-full mix-w-[1200px]'>
  <h1>{post.data.title}</h1>
</div>
