---
import Layout from '../layouts/Layout.astro'
---

<Layout title='VisitDibra | About'>
  <main class='container mx-auto'>
    <h1 class='text-red-500 text-xl font-bold'>
      Hello, this is the About page
    </h1>
    <button class='button'>hello</button>
  </main>
</Layout>
