---
// Layout
import Layout from '../layouts/Layout.astro'

// Components
import Hero from '../components/home/Hero.astro'
import Nature from '../components/home/Nature.astro'
---

<Hero />
<Layout title='Welcome Dibra'>
  <div class='flex flex-col gap-5 lg:gap-56'>
    <Nature />
  </div>
</Layout>
