---
// Layout
import Layout from '../layouts/Layout.astro'

// Components
import Hero from '../components/home/Hero.astro'
import Nature from '../components/home/Nature.astro'
import Foods from '../components/home/Foods.astro'
import Locations from '../components/home/Locations.astro'
import Activities from '../components/home/Activities.astro'
import Gallery from '../components/home/Gallery.astro'
import Booking from '../components/home/Booking.astro'
import Support from '../components/home/Support.astro'
---

<Layout title='Welcome to Diber'>
  <Hero />
  <div class='flex flex-col lg:gap-10 mt-24 mb-28'>
    <Nature />
    <Foods />
    <Locations />
    <Activities />
    <Gallery />
    <Booking />
    <Support />
  </div>
</Layout>
