---
// Layout
import Layout from '../layouts/Layout.astro'

// Components
import Hero from '../components/home/Hero.astro'
---

<Hero />
<Layout title='Welcome Dibra'>
  <main>
    <p>home page</p>
  </main>
</Layout>
