---
// Layout
import Layout from '../layouts/Layout.astro'

// Components
import Hero from '../components/home/Hero.astro'
import Nature from '../components/home/Nature.astro'
import Foods from '../components/home/Foods.astro'
import Locations from '../components/home/Locations.astro'
import Activities from '../components/home/Activities.astro'
import Gallery from '../components/home/Gallery.astro'
import Booking from '../components/home/Booking.astro'
import Support from '../components/home/Support.astro'
---

<Layout
  title='Welcome to Diber'
  structured_data={JSON.stringify({
    '@context': 'https://schema.org',
    '@type': 'FAQPage',
    mainEntity: [
      {
        '@type': 'Question',
        name: 'Where is the Diber Tourist Information Center located?',
        acceptedAnswer: {
          '@type': 'Answer',
          text: 'The Diber Tourist Information Center, located in Peshkopi, offers helpful advice and printed maps to tourists. The open and airy office provides a welcoming atmosphere for visitors seeking guidance and information from knowledgeable municipality staff. The office can be found on Google Maps by searching “Dibër Tourist Information Center”.',
        },
      },
      {
        '@type': 'Question',
        name: 'How can I arrive in Diber from Tirana?',
        acceptedAnswer: {
          '@type': 'Answer',
          text: 'Driving by car to Diber takes approximately two hours. If you wish to arrive without a car, you may take one of the hourly vans which depart from the North and South Van Terminal (Terminali i Autobusave të Jugut dhe Veriut) in Tirana to Diber. The fare for these vans is 300 to 600 Lek (depending on final destination), and the travel time varies from 1 to 3 hours, depending on the specific location in Diber where you plan to arrive.',
        },
      },
      {
        '@type': 'Question',
        name: 'What is the local currency, and where can I exchange money?',
        acceptedAnswer: {
          '@type': 'Answer',
          text: 'The local currency is Albanian Lek. Euros and dollars are readily exchangeable at many locations across Diber. This availability of currency exchange services makes it easy for travelers to convert their foreign currencies to Lek and use it for their transactions during their stay in Diber.',
        },
      },
      {
        '@type': 'Question',
        name: 'Are there any guided tours or activities available in the area?',
        acceptedAnswer: {
          '@type': 'Answer',
          text: 'Yes! To find the perfect guide for your Diber adventure  do not hesitate to inquire at the Diber Tourist Information Center or access the guide directory we have available. Hiring a knowledgeable local guide will undoubtedly enhance your travel experience and help you create lasting memories in Diber. Guides in Diber offer guided tours to popular attractions, historical sites, and authentic experiences, enriching your travel experience in Diber.',
        },
      },
    ],
  })}
>
  <Hero />
  <div class='flex flex-col lg:gap-10 mt-24 mb-28'>
    <Nature />
    <Foods />
    <Locations />
    <Activities />
    <Gallery />
    <Booking />
    <Support />
  </div>
</Layout>
