---
import Layout from '../layouts/Layout.astro'
---
<Layout title='VisitDibra | Maps'>
  <main class='flex flex-col lg:gap-40 mt-24 mb-28'>
    <h1 class='text-red-500 text-xl font-bold'>
      Maps and trails
    </h1>
    <button class='button'>hello</button>
  </main>
</Layout>
