---
// Components
import { Image } from '@astrojs/image/components'
import SectionContent from '../ui/general/SectionContent.astro'
import ActivityCard from '../ui/activities/ActivityCard.astro'
import ActivityList from '../ui/activities/ActivityList.astro'
import Button from '../ui/general/Button.astro'

import { getCollection } from 'astro:content'

// Hiking Blog posts
const hikingBlogPosts = await getCollection('blog', ({ data }) => {
  return !data.draft && data.date < new Date() && data.category === 'hiking'
})

// Mountain Biking Blog posts
const mountainBikingBlogPosts = await getCollection('blog', ({ data }) => {
  return (
    !data.draft && data.date < new Date() && data.category === 'mountain biking'
  )
})

// Rafting Blog posts
const raftingBlogPosts = await getCollection('blog', ({ data }) => {
  return !data.draft && data.date < new Date() && data.category === 'rafting'
})

const number_of_activities_shown = 3
---

<section class='relative'>
  <div class='page-container'>
    <SectionContent
      title='Outdoor Activities & More'
      subtitle='Things to do'
      section_color='red'
      icon='local-fire-department-rounded'
      text_position='center'
    >
      Diber offers an active vacation with hiking, mountain climbing, river
      rafting, and swimming opportunities. Embrace adventure amidst stunning
      landscapes and create unforgettable memories. Plan your action packed
      getaway in Diber today!
    </SectionContent>

    <!-- Activities Cards -->
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
      <!--------- Hiking --------->
      <ActivityCard
        image={{
          src: '/activities/hiking.jpeg',
          alt: 'hiking',
        }}
        title='Hiking'
        description="The Diber region offers diverse hiking trails, from easy strolls through lush valleys to challenging treks up Korabi, there's a hike for every adventurer."
        url={`/blog/`}
        category='hiking'
      >
        {
          hikingBlogPosts
            .slice(0, number_of_activities_shown)
            .map((post) => <ActivityList postData={post} />)
        }
      </ActivityCard>

      <!--------- Mountain Biking --------->
      <ActivityCard
        image={{
          src: '/activities/mountain_biking.jpg',
          alt: 'mountain biking',
        }}
        title='Mountain Biking'
        description='The Diber region offers hundreds of kilometers of mountain biking trails, many of which cross into North Macedonia. A complete list of trails is available for download in the Maps & Guides section.'
        url={`/blog/`}
        category='mountain biking'
      >
        {
          mountainBikingBlogPosts
            .slice(0, number_of_activities_shown)
            .map((post) => <ActivityList postData={post} />)
        }
      </ActivityCard>

      <!--------- Rafting --------->
      <ActivityCard
        image={{
          src: '/activities/rafting.jpg',
          alt: 'rafting',
        }}
        title='Rafting'
        description='Rafting the Drin is a family-friend activity, which does not require special courses. Several operators offer excursions on the Drin River which last between 2 to 4 hours.'
        url={`/blog/`}
        category='rafting'
      >
        {
          raftingBlogPosts
            .slice(0, number_of_activities_shown)
            .map((post) => <ActivityList postData={post} />)
        }
      </ActivityCard>
    </div>
    <Button className='mt-6 mx-auto' href='/articles' btnColor='red' rounded>
      Learn More
    </Button>
  </div>

  <!-- Background Icon -->
  <Image
    class='bg-icons select-none'
    src='/icons/activities_icon_bg.svg'
    width={677 / 1.3}
    height={1289 / 1.3}
    alt='background_icon'
    format='svg'
  />
</section>
