---
// Components
import { Image } from '@astrojs/image/components'
import SectionContent from '../SectionContent.astro'
import Button from '../Button.astro'
import { LocationsMap } from './LocationsMap'

// Articles
const allArticles = await Astro.glob('../../pages/locations/*.md')
---

<div class='relative'>
  <SectionContent
    icon_src='/icons/locations_icon.svg'
    section_color='blue'
    title='Interesting locations in Diber'
    subtitle='Unforgettable Spots'
    className='page-container pb-0'
  >
    From mountain lakes surrounded by breathtaking vistas to charming stone
    villages frozen in time, and historical cities with centuries of fascinating
    heritage, Diber is a destination that caters to diverse interests and
    preferences. Take some time to visit us!
  </SectionContent>
  <div class='page-container pt-0 pb-0'>
    <di>
      <LocationsMap client:visible articles={allArticles} />
    </di>
  </div>

  <Button className='mx-auto mb-20 mt-6' btnColor='blue' href='/' rounded>
    Learn More
  </Button>
  <Image
    class='hidden md:block absolute bottom-0 right-0 -z-10'
    src='/icons/locations_icon_bg.svg'
    alt='icon'
    width={935 / 1.2}
    height={1493 / 1.2}
    format='svg'
  />
</div>
