---
// Components
import { Image } from '@astrojs/image/components'
import SectionContent from '../SectionContent.astro'
import Button from '../Button.astro'
---

<div class='relative'>
  <div
    class='page-container flex flex-col lg:flex-row-reverse lg:items-center lg:gap-5 overflow-hidden'
  >
    <div>
      <Image
        class='object-contain scale-[1.4] md:scale-[1.1] lg:scale-[1.2]'
        src='/images/nature_image.avif'
        alt='image'
        width={1194}
        height={867}
        format='avif'
      />
    </div>
    <SectionContent
      icon_src='/icons/nature_icon.svg'
      title='Natural Wonders'
      subtitle='Natural Wonders'
      section_color='green'
    >
      Climb Korabi Mountain, the Albania's highest peak. 
      Enjoy secluded nature hikes. Swim in crystal-clear glacial lakes 
      and explore wild rivers. Experience the wildness of Diber.
      <Button className='mt-6' href='' btnColor='green' rounded>
        Learn More
      </Button>
    </SectionContent>
  </div>

  <!-- Background Icon -->
  <Image
    class='bg-icons'
    src='/icons/nature_icon_bg.svg'
    alt='icon'
    width={716 / 1.1}
    height={913 / 1.1}
    format='svg'
  />
</div>
