---
// Components
import { Image } from '@astrojs/image/components'
import SectionContent from '../SectionContent.astro'
import FAQCard from '../FAQCard.astro'

// Data
const allQuestions = await Astro.glob('../../data/faq/*.md')
---

<div class='relative'>
  <div class='page-container'>
    <SectionContent
      title='Frequently Asked Questions'
      subtitle='Support'
      icon_src='/icons/faq_icon.svg'
      section_color={'gray'}
    >
      Lorem ipsum dolor sit amet consectetur. Suspendisse sed nisi aenean nisl
      faucibus eget et sit nisl. Mollis ac aliquam neque pretium orci.
    </SectionContent>

    <!-- Questions -->
    <div class='grid grid-cols-1 md:grid-cols-2 items-start gap-6 mt-12'>
      {
        allQuestions.map((question) =>
          question.frontmatter.faq.map((e) => (
            <FAQCard question={e.question} answer={e.answer} />
          ))
        )
      }
      <!-- Contact form -->
      <div>
        <h2 class='text-4xl font-bold'>Contact</h2>
        <form name='contact' netlify>
          <p>
            <label><input type='text' name='name' placeholder='Name' /></label>
          </p>
          <p>
            <label
              ><input type='email' name='email' placeholder='Email' /></label
            >
          </p>
          <p>
            <label
              ><textarea name='message' placeholder='Message'></textarea></label
            >
          </p>
          <p>
            <button class='bg-gray-300 p-3 rounded-lg' type='submit'
              >Send</button
            >
          </p>
        </form>
      </div>
    </div>
  </div>

  <Image
    class='hidden md:block absolute -bottom-20 right-0 -z-10'
    src='/icons/faq_icon_bg.svg'
    width={822 / 1.3}
    height={1172 / 1.3}
    alt='background icon'
    format='svg'
  />
</div>
