---
// Props
export interface Props {
  type: string
  name: string
  href: string
  stars: number
}

const { type, name, href } = Astro.props
let { stars } = Astro.props

const maxStars = 5

let stars_arry = []

if (stars > 5) {
  stars = 5
}

for (let i = 1; i <= stars; i++) {
  stars_arry.push('full_star')
}

while (stars_arry.length < maxStars) {
  stars_arry.push('empty_star')
}
---

<div class='rounded-full hover:bg-gray-300/60 transition-colors duration-200'>
  <a
    target='_blank'
    class='text-xl flex justify-between items-center gap-3 text-gray-600 px-5 py-3 rounded-full'
    href={href}
    ><div class='text-base text-gray-600 flex gap-3 justify-start items-center'>
      <img
        width='28px'
        height='28px'
        src={`/icons/booking/${type}.svg`}
        alt=''
      />
      {name}
    </div>
    <div class='flex gap-1 justify-center items-center min-w-[95px]'>
      {
        stars_arry.map((star) => (
          <img
            width='16px'
            height='16px'
            src={`/icons/booking/${star}.svg`}
            alt=''
          />
        ))
      }
    </div>
  </a>
</div>
