---
---

<footer class='mt-auto border-gray-300/30 border-t py-6 w-full'>
  <div
    class='container mx-auto px-6 max-w-7xl w-full flex flex-col items-center'
  >
    <h1 class='text-xl md:text-2xl xl:text-3xl font-bold'>Visit Dibra</h1>
    <div class='flex'>
      <a href='/'><img src='/facebook.svg' alt='Facebook' /></a>
      <a href='/'><img src='/instagram.svg' alt='Instagram' /></a>
    </div>
    <p class='font-light text-gray-500 text-sm'>
      © 2023 Visit Dibra. All rights reserved.
    </p>
  </div>
</footer>
