---
---

<footer class='mt-auto border-gray-300/30 border-t py-6 w-full'>
  <div
    class='container mx-auto px-6 max-w-7xl w-full flex flex-col items-center'
  >
    <h2 class='text-xl md:text-2xl xl:text-3xl font-bold'>Visit Diber</h2>
    <div class='flex items-center'>
      <a target='_blank' href='/'
        ><img
          width='48px'
          height='48px'
          src='/facebook.svg'
          alt='Facebook'
        /></a
      >
      <a target='_blank' href='/'
        ><img
          width='48px'
          height='48px'
          src='/instagram.svg'
          alt='Instagram'
        /></a
      >
      <a target='_blank' href='https://www.youtube.com/@visit.diber3753'
        ><img
          class='ml-2'
          width='42px'
          height='42px'
          src='/youtube.svg'
          alt='YouTube'
        /></a
      >
    </div>
    <p class='font-light text-gray-500 text-sm'>
      © 2023 Visit Diber. All rights reserved.
    </p>
    <p class='font-light text-gray-500 text-sm mt-1'>visitdiber@gmail.com</p>
  </div>
</footer>
