---
---

<nav
  class='bg-white/10 fixed w-full top-0 left-0 z-40 backdrop-blur-md border-gray-300/30 border-b py-4'
>
  <div
    class='container mx-auto px-6 max-w-7xl flex justify-between items-center'
  >
    <a href='/' class='flex gap-2 items-center justify-between'>
      <img height='38px' width='38px' src='/logo.svg' alt='logo' />
      <h1 class='text-xl md:text-2xl xl:text-4xl font-bold'>Visit Diber</h1>
    </a>

    <div class='sm:hidden flex items-center'>
      <img
        id='menu'
        class='cursor-pointer'
        src='/icons/menu.svg'
        height='38px'
        width='38px'
        alt=''
      />
    </div>

    <ul
      class='hidden sm:flex gap-8 justify-start align-middle text-base xl:text- font-semibold'
    >
      <li><a href='/' class='navbar-item'>Home</a></li>
      <li><a href='/stays' class='navbar-item'>Stays</a></li>
      <li><a href='/maps' class='navbar-item'>Maps & Guides</a></li>
      <li><a href='/articles' class='navbar-item'>Blog</a></li>
      <li><a href='/#faq' class='navbar-item'>FAQ</a></li>
      <li><a href='/#contact' class='navbar-item'>Contact</a></li>
    </ul>
  </div>

  <!-- Mobile view navigation links -->
  <ul
    id='navList'
    class='px-6 mt-6 text-lg hidden flex-col font-semibold sm:hidden'
  >
    <li><a href='/' class='navbar-item inline-block float-right'>Home</a></li>
    <li>
      <a href='/stays' class='navbar-item inline-block float-right'>Stays</a>
    </li>
    <li>
      <a href='/maps' class='navbar-item inline-block float-right'
        >Maps & Guides</a
      >
    </li>
    <li>
      <a href='/articles' class='navbar-item inline-block float-right'>Blog</a>
    </li>
    <li>
      <a href='/#faq' class='navbar-item inline-block float-right'>FAQ</a>
    </li>
    <li>
      <a
        href='/#contact'
        class='navbar-item inline-block float-right'
        inline-block
        float-right>Contact</a
      >
    </li>
  </ul>
</nav>

<script>
  const menu = document.querySelector('#menu')
  const navList = document.querySelector('#navList')

  menu.addEventListener('click', () => {
    navList.classList.toggle('hidden')
    navList.classList.toggle('flex')
  })
</script>
