---
---

<nav
  class='bg-white/40 sticky w-full top-0 left-0 z-10 backdrop-blur-md border-b border-slate-900/10'
>
  <div class='container mx-auto max-w-6xl'>
    <ul class='flex gap-2 justify-start align-middle text-lg font-semibold p-6'>
      <li><a href='/' class='navbar-item'>Home</a></li>
      <li><a href='/articles' class='navbar-item'>Articles</a></li>
      <li><a href='/contact' class='navbar-item'>Contact</a></li>
    </ul>
  </div>
</nav>
