---
// Components
import { Icon } from 'astro-iconify'

// Props
export interface Props {
  title: string
  icon: string
  has_undeline?: boolean
  className?: string
}

const { title, icon, className, has_undeline = true } = Astro.props
---

<header class={`flex justify-center gap-2 flex-col my-6 ${className}`}>
  <div class='flex items-center gap-2'>
    <Icon
      pack='material-symbols'
      name={icon}
      class='h-10 text-gray-100 text-inherit'
    />
    <h2 class='text-2xl font-bold'>{title}</h2>
  </div>
  {
    has_undeline && (
      <div class='h-[2px] bg-slate-400/30 max-w-3xl rounded-full' />
    )
  }
</header>
