@tailwind base;
@tailwind components;
@tailwind utilities;

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@layer base {
  * {
    /* @apply text-gray-800; */
    -webkit-tap-highlight-color: transparent;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  ul,
  ol,
  li,
  select,
  input,
  option {
    @apply text-gray-800;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

:root {
  --ideal-height: max(100vh, 800px);
  --ideal-width: max(90wh, 600px);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Change the color of the selection */
::-moz-selection {
  /* Code for Firefox */
  background: rgba(153, 153, 153, 0.361);
}

::selection {
  background: rgba(153, 153, 153, 0.361);
}

.page-container {
  @apply mx-auto px-6 py-20 max-w-7xl;
}

.bg-icons {
  @apply hidden md:block absolute bottom-0 left-0 -z-10;
}

.navbar-item {
  @apply hover:underline rounded-md py-2;
}

.input-item {
  @apply w-full text-lg p-4 bg-white/50 backdrop-blur-md rounded-xl text-gray-500 border-gray-300/30 border;
}

/* Svg mpa */
.component .tooltip {
  visibility: hidden;
}
.component:hover .tooltip {
  visibility: visible;
}

.popover {
  @apply text-gray-100 text-[4px] font-bold bg-gray-800 px-1  py-[2px] rounded-sm inline;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 300px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bcbcbd;
}
