---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
const { title } = frontmatter
---

<Layout title={title}>
  <div class='pt-8'>
    <article class='prose prose-natural mx-auto px-6 py-20 max-w-4xl'>
      <slot />
    </article>
  </div>
</Layout>
