---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
const { title } = frontmatter
---

<Layout title={title}>
  <div class='container mx-auto pt-8'>
    <article class='prose prose-natural page-container max-w-4xl'>
      <slot />
    </article>
  </div>
</Layout>
